:root{
  --base-col: 12;
}
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;700;800&display=swap');
body {
  background-color: #6b12fb;
  margin: 0;
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  font-family: 'Sora', sans-serif;
}
.custom-nav{
  background-color: #400d90;
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
}
.custom-nav .nav-brand{
  text-decoration: none;
  margin: 0px 8px;
  padding: 16px 0px;
  font-weight: 700;
  color: #fff;
}
.custom-nav .nav-btn{
  margin: auto 0px;
}
.btn{
  padding: 6px 14px;
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  border-radius: 8px;
  outline: none;
  border:none;
  background-color: #fabc16;
}
.modal-overlay{
  background-color: rgba(0, 17, 51, 0.9);
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000000000000000000000000000000000000;
}
.modal-box{
  width: 300px;
  height: 300px;
  margin: auto;
  background-color: #400d90;
  border-radius: 12px;
  display: flex;
    flex-direction: column;
}
.modal-box .modal-title{
  display: flex;
  justify-content: space-between;
  padding: 0px 12px;
  background-color: #36087f;
  color: #fff;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.modal-title h3{
  line-height: unset;
  margin-top: revert;
  margin-bottom: revert;
  font-weight: revert;
  font-size: revert;
}
.modal-box .row>*{
  padding-left:revert;
}
.modal-close{
  margin: auto 0px;
  font-family: 'Sora', sans-serif;
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  /* font-weight: 600; */
}
.modal-box .modal-body{
  padding: 12px;
  /* height: 100%; */
  flex-grow: 1;
}
.wallet-option-btn{
  display: flex;
  margin: 0px auto;
  background-color: transparent;
  color: #fff;
  outline: none;
  border:none;
  flex-direction: column;
  justify-content: center;
}
.wallet-option-btn .wallet-logo{
  margin:0px auto;
}
.wallet-option-btn .wallet-name{
  font-weight: 700;
  margin: 0px auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
/* .col-1{
  width: calc(100% /(var(--base-col) / 1));
}
.col-2{
  width: calc(100% /(var(--base-col) / 2));
}
.col-3{
  width: calc(100% /(var(--base-col) / 2));
}
.col-6{
  width: calc(100% /(var(--base-col) / 6));
} */
.d-flex{
  display: flex;
}
.d-flex.contents-center{
  justify-content: center;
}
.d-flex.flex-column{
  flex-direction: column;
}
.h-100{
  height: 100%;
}
.mb-3{
  margin-bottom: 24px;
}
.bg-primary{
  background-color: #400d90 !important;
  /* background-color: #400d90 !important; */
}
.br-12{
  border-radius: 25px;
}
.list-group-item{
  border-radius: 0px !important;
}